td{
    font-size: 25px;
    padding: 5px 0;
}

.btnActions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnEditarEsep{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.btnEditarEsep input{
    margin-right: 30px;
}