td{
    font-size: 20px;
    padding: px;
}

.btnActions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnEditarEsep{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  
}
.corDaLinhaAmarela{
    background-color: #FDD835;
}

.corDaLinhaVermelha{
    background-color: #E57373;
    color: white;
}


.inputSepadoresEdit{
    width: 350px;
}

.btnEditar{
    padding: 0;
    border-radius: 50%;
}

.inputSelecionar{
    margin: 0 auto;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.botaoDinamico{
    width: 87.38px;
}
